@import "tailwindcss" source(none);

@source "../src/**/*.js";
@source "../src/**/*.jsx";
@source "../index.html";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f1e9;
}
